nav {
	background-color: rgba(96, 18, 24, 0.86);
	position: relative;
}

a {
	cursor: pointer; cursor: hand;
}

.navbar {
	margin-bottom: 0px;
}

.navbar>.row {
	height: 100%;
}

.menuholder {
	height: 100%;
	position: relative;
}

.dropdown {
	display: none;
	position: absolute;
	z-index: 2;
	top: 53px;
	right: 11vw;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
}

.radius {
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
}

.logo {
	font-family: 'Satisfy', cursive;
	color: #EBEBEB;
	font-size: 19pt;
	text-align: center;
	vertical-align: middle;
	line-height: 52px;
	display: inline-block;
}

/*.fp-controlArrow.fp-prev {
    border-color: transparent #aaa transparent transparent;
}

.fp-controlArrow.fp-next {
    border-color: transparent transparent transparent #aaa;
}*/

a, a:hover, a:active, a:visited, a:focus {
	text-decoration: none;
}

.menuholder>a, .menuholder>a:hover, .menuholder>a:active, .menuholder>a:visited, .menuholder>a:focus {
	color: white;
}

.menubutton, .dropdownbutton {
	background-color: rgba(96, 18, 24, 0);
	height: 100%;
	line-height: 52px;
	text-align: center;
}

.dropdownbutton {
	padding: 12px 0px 12px 12px;
	background-color: rgba(96, 18, 24, 0.86);
	height: 52px;
	line-height: 24px;
	text-align: left;
	color: #EBEBEB;
	display: block;
}

.dropdownbutton:hover {
	display: block;
	color: #EBEBEB;
}

.inlineblock {
	display: inline-block;
}

/*PAGES AND SLIDES*/

#home {
	background-image: url("images/portfolioback.jpg");
	background-size: 100% auto;
	background-repeat: no-repeat; 
    background-position: center;
    background-attachment: fixed;       
    webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
}

#hackabox1 {
	background-color: #D4B79E;
}
#hackabox2 {background-color: #547345}
#hackabox3 {background-color: #554889}

#wordpress1 {background-color: #000000}
#wordpress2 {background-color: #255553}
#wordpress3 {background-color: #444444}

#app1 {background-color: #ffffff}
#app2 {background-color: #777777}
#app3 {background-color: #999999}

#skills {background-color: #111111}

#contact {background-color: #222222}

.pcont>p>a, .pcont>p>a:hover, .pcont>p>a:active, .pcont>p>a:visited, .pcont>p>a:focus {
	color: #AAAAAA;
}

.vidcont {
	position: relative;
	overflow: hidden;
	padding-left: 0;
	padding-right: 0;
	height: 80vh;
    
}

.vidcont>iframe {
	width: 100%;
	height: 100%;
	
}

.pcont {
	display: inline-block;
	height: 80vh;
	margin-top: 0vh;
}

.pcont>p {
	font-family: 'Avenir';	
	font-size: 14px;
	text-align: justify;
	color: black;
}

.uline {
	border-bottom-style: dotted;
	border-bottom-width: 1px;
	border-bottom-color: #aaaaaa;
	padding-bottom: 2%;
}

.ulinehack {
	/*border-bottom-style: dotted;
	border-bottom-width: 1px;
	border-bottom-color: #B24949;*/
	padding-bottom: 2%;
	position: relative;
}

.ulinehack:before {
	content:"";
    background: #B24949;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 1px;
}

.ulinewp {
	/*border-bottom-style: dotted;
	border-bottom-width: 1px;
	border-bottom-color: #A10000;*/
	padding-bottom: 2%;
}	

.techapple {
	margin-top: 30vh;
}

.applep {
	position: relative;
}

.subtitleap {
	font-family: 'Avenir';
	font-size: 15px;
	color: #aaaaaa;
}

.titleap {
	font-family: 'Avenir';
	font-size: 20px;
	text-align: center;
	color: #aaaaaa;
}

/*HOME*/

.homejumbo {
	height: 80vh;
	margin-top: 65px;
	background-color: rgba(96, 18, 24, 0.51)	
}

/*HACKABOX*/

.hackaboximg {
	width: 92%;	
	height: 100%;
	
}

.demo {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 2;
	background-color: rgba(0, 0, 0, 0.1);
	color: rgb(255, 255, 255);
	font-size: 10vh;
	text-align: center;
}

.wpsmall {
	position: relative;
	height: 100%;
	width: 100%;
	text-align: center;
}

.demo>p {
	line-height: 300px;
	-ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Safari */
    transform: rotate(-45deg);
}

.wpimg {
	max-width: 100%;	
	max-height: auto;
	
}

.techwp {
	margin-top:4vh;
}

.hackaboximgsmall {
	max-width: 100%;	
	max-height: auto;
	
	display: none;
}

.hackaboximgcont {
	margin-left: 0;
	position: relative;
	overflow: hidden;
	padding-left: 0;
	padding-right: 0;
	height: 50vh;
	padding-bottom: 50vh;
	background-image: url('images/hackaboxfull.png');
	background-size: 124%;
	padding: 0px;
	border-style: solid;
	border-width: 6px;
	border-color: #D4B89B;
}

.wpimgcont {
	position: relative;
	overflow: hidden;
	padding-left: 0;
	padding-right: 0;
	height: 80vh;
	padding-bottom: 80vh;
	background-image: url('images/themeboximg.png');
	background-size: 124%;
    
    border-style: solid;
    border-width: 4px;
    border-color: #A10000;
}

.read {
	background-color: rgba(96, 18, 24, 0.4);
	position: absolute;
	bottom: 1vh;
	right: 3vh;
	z-index: 2;
	padding: 1vh;
	color: #F8E3D0;
	cursor: hand; cursor: pointer;
	text-align: center;
}

.readpanel {
	position: absolute;
	display: none;
	height: 82%;
	z-index: 3;
	background-color: rgba(96, 18, 24, 0.86);
	top: 20vh;
}

.closemine {
	color: #fff;
	font-family: 'Avenir';
	font-size: 14px;
	position: absolute;
	top: 1vh;
	right:1.5vmax;
	cursor: hand; cursor: pointer;
}

.wordtext {
	display: inline-block;
	height: 80vh;
	margin-top: 0vh;
}

.hacktext>p {
    font-family: 'Avenir';
	font-size: 12px;
	text-align: justify;
	color: #FAE6D5;
}

.techholder {
	position: relative;
	height: 10%;
	top: 92%;
	z-index: 2;
	padding-top: 1vh;
}

.techused {
	position: absolute;
	font-family: 'Avenir';
	font-size: 18px;
	font-weight: 700;
	color: #6F282A;
	background-color: #D4B79E;
	top: 92.5%;
	height: 4.5vh;
}

.techused>p {
	line-height: 4.5vh;
}

.techused:before {
	content: "";
	position: absolute;
	height: 3px;
	width: 11%;
	top: 45%;
	left: -11%;
	background-color: #6F282A;
}

.techused:after {
	content: "";
	position: absolute;
	height: 3px;
	width: 13%;
	top: 45%;
	left: 55%;
	background-color: #6F282A;
}

.expressimg {
  width: 100%;
  padding-left: 1vh;
  padding-right: 1vh;
  padding-top: 4.7vh;
}

.mongodbimg {
  width: 100%;
}

.angularimg {
  width: 100%;
  padding-left: 1vh;
  padding-right: 1vh;
  padding-top: 1.8vh;
}

.mongoholder {
	z-index: 2;
	position: relative;
}

.mongoholdernode {
	z-index: 2;
	position: relative;
	padding-top: 3vh;
}

.nodeimg {
  width: 100%;
  padding-left: 1vh;
  padding-right: 1vh;
}

.wordtext>p {
    font-family: 'Avenir';
	font-size: 2.4vh;
	text-align: justify;
	color: white;
}

.fp-tableCell {
	vertical-align: top;
}


.titlepout {
    font-family: 'Avenir';
    font-weight: 900;
	font-size: 20px;
	text-align: center;
	color: #6F282A;
	height: 14vh;
	background-color: #DBC4B0;
	position: relative;
	margin-top: 53px;
}

.titlep {
	background-color: #DBC4B0;
	height: 100%;
	line-height: 16vh;
	font-size: 22px;
}

.titlep:before {
	content: "";
	position: absolute;
	height: 3px;
	width: 85%;
	top: 53%;
	left: -71%;
	background-color: #6F282A;
}

.titlep:after {
	content: "";
	position: absolute;
	height: 3px;
	width: 15%;
	top: 53%;
	right: -1%;
	background-color: #6F282A;
}

.crumbmine {
	font-size: 16px;
	position: absolute;
	background-color: #DBC4B0;
	color: #884548;
	top: 2vh;
}

.titlewp {
    font-family: 'Avenir';
	font-size: 3vw;
	text-align: center;
	color: #A10000;	
}

.subtitle {
    font-family: 'Avenir';
    font-weight: 900;
	font-size: 13px;
	color: #6F282A;
}

.subtitlewp {
    font-family: 'Avenir';
	font-size: 1.9vw;
	color: #A10000;
	position: relative;
	/*text-shadow: 0 -1px #6CC8E7, 1px 0 #6CC8E7, 0 1px #6CC8E7, -1px 0 #6CC8E7;*/
}

/* Large desktops and laptops */
@media (min-width: 1200px) {
	.hackaboximg {
		display: block;
	}

	.hackaboximgsmall {
		display: none;
	}

	.wpimg {
		display: block;
	}

	.wpsmall {
		display: none;
	}

	.hacktext {
		display: inline-block;
		height: 54vh;
		padding-left: 2vh;
		padding-right: 2vh;
		padding-top: 2vh;
		margin-top: 0vh;
		background: #D4B89B; /* For browsers that do not support gradients */
		background: -webkit-linear-gradient(left, #C8A589 40%, #D4B79E); /* For Safari 5.1 to 6.0 */
		background: -o-linear-gradient(right, #C8A589 40%, #D4B79E); /* For Opera 11.1 to 12.0 */
		background: -moz-linear-gradient(right, #C8A589 40%, #D4B79E); /* For Firefox 3.6 to 15 */
		background: linear-gradient(to right, #C8A589 40%, #D4B79E); /* Standard syntax */
		margin-left: 2vh;
		position: relative;
		overflow: hidden;
	}

	.forborder {
	  background: #D4B89B; /* For browsers that do not support gradients */
	  background: -webkit-linear-gradient(-90deg, #C8A589 86%, #D4B79E); /* For Safari 5.1 to 6.0 */
	  background: -o-linear-gradient(-90deg, #C8A589 86%, #D4B79E); /* For Opera 11.1 to 12.0 */
	  background: -moz-linear-gradient(-90deg, #C8A589 86%, #D4B79E); /* For Firefox 3.6 to 15 */
	  background: linear-gradient(-90deg, #C8A589 86%, #D4B79E); /* Standard syntax */
	  padding-bottom: 2vh;
	  padding-top: 2vh;
	  padding-right: 2vh;
	  padding-left: 10vh;

	}
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
	.hackaboximgcont {
		background-size: 135%;
	}

	.expressimg {
		padding-top: 3.8vh;
	}

	.techholder {
		position: relative;
		height: 10%;
		top: 92%;
		z-index: 2;
		padding-top: 1vh;
	}

	.techused {
		top: 93.5%;
		font-size: 1.5vw;
		height: 4.5vh;
	}

	.techused>p {
		line-height: 4.5vh;		
	}

	.techused:after {
		left: 74%;
		width: 21%;
	}

	.techused:before {
		content: "";
		position: absolute;
		height: 3px;
		width: 13%;
		top: 45%;
		left: -13%;
		background-color: #6F282A;
	}

	.titlep:before {
		content: "";
		position: absolute;
		height: 3px;
		width: 82%;
		top: 53%;
		left: -66%;
		background-color: #6F282A;
	}

	.titlep:after {
		content: "";
		position: absolute;
		height: 3px;
		width: 15%;
		top: 53%;
		right: 0%;
		background-color: #6F282A;
	}

	.hackaboximg {
		width: 100%;	
		height: auto;
	}

	.demo {
		position: absolute;
		height: 100%;
		width: 100%;
		z-index: 2;
		background-color: rgba(0, 0, 0, 0.1);
		color: rgb(255, 255, 255);
		font-size: 10vh;
		text-align: center;
	}

	.wpimgcont {
		height: 80vh;
		padding-bottom: 80vh;
		background-size: 170%;
	}

	.wordtext {
		margin-top: 0;
	}

	.wordtext>p {
		font-size: 2.5vh;
	}

	.subtitlewp {
		font-size: 2.8vh;
	}

	.hacktext {
		display: inline-block;
		height: 54vh;
		padding-left: 2vh;
		padding-right: 2vh;
		padding-top: 2vh;
		margin-top: 0vh;
		background: #D4B89B; /* For browsers that do not support gradients */
		background: -webkit-linear-gradient(left, #C8A589 40%, #D4B79E); /* For Safari 5.1 to 6.0 */
		background: -o-linear-gradient(right, #C8A589 40%, #D4B79E); /* For Opera 11.1 to 12.0 */
		background: -moz-linear-gradient(right, #C8A589 40%, #D4B79E); /* For Firefox 3.6 to 15 */
		background: linear-gradient(to right, #C8A589 40%, #D4B79E); /* Standard syntax */
		margin-left: 2vh;
		position: relative;
		overflow: hidden;
	}

	.forborder {
	  background: #D4B89B; /* For browsers that do not support gradients */
	  background: -webkit-linear-gradient(-90deg, #C8A589 86%, #D4B79E); /* For Safari 5.1 to 6.0 */
	  background: -o-linear-gradient(-90deg, #C8A589 86%, #D4B79E); /* For Opera 11.1 to 12.0 */
	  background: -moz-linear-gradient(-90deg, #C8A589 86%, #D4B79E); /* For Firefox 3.6 to 15 */
	  background: linear-gradient(-90deg, #C8A589 86%, #D4B79E); /* Standard syntax */
	  padding-bottom: 2vh;
	  padding-top: 2vh;
	  padding-right: 2vh;
	  padding-left: 10vh;

	}

	.titlep {
	
	}

	.hackaboximg {
		display: block;
	}

	.hackaboximgsmall {
		display: none;
	}

	.wpimg {
		display: block;
	}

	.wpsmall {
		display: none;
	}

	.demo>p {
		line-height: 488px;
	}

	.techwp {
		margin-top: 7vh;
	}

	.dropdown {
		left: 11vw;
	}
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	.menubutton, .dropdownbutton {
		font-size: 1.7vh;
	}

	.techholder {
		position: relative;
		height: 10%;
		z-index: 2;
		padding-top: 1vh;
	}

	.expressimg {
		padding-top: 4vh;
	}

	.angularimg {
		padding-top: 2vh;
	}

	.nodeimg {
		padding-bottom: 4vh;
	}

	.techused {
		top: 93%;
		font-size: 1.5vw;
		height: 2vh;
	}

	.mongodbimg {
		padding-top: 1vh;
	}

	.techused>p {
		line-height: 2vh;		
	}

	.techused:after {
		left: 71%;
		width: 21%;
	}

	.techused:before {
		content: "";
		position: absolute;
		height: 3px;
		width: 9%;
		top: 45%;
		left: -9%;
		background-color: #6F282A;
	}

	.hackaboximgcont {
		background-size: 260%;
		height:50vh;
		padding-bottom: 50vh;
	}

	.hacktext {
		display: inline-block;
		height: 55.8vh;
		padding-left: 2vh;
		padding-right: 2vh;
		padding-top: 2vh;
		margin-top: 0vh;
		background: #D4B89B; /* For browsers that do not support gradients */
		background: -webkit-linear-gradient(left, #C8A589 40%, #D4B79E); /* For Safari 5.1 to 6.0 */
		background: -o-linear-gradient(right, #C8A589 40%, #D4B79E); /* For Opera 11.1 to 12.0 */
		background: -moz-linear-gradient(right, #C8A589 40%, #D4B79E); /* For Firefox 3.6 to 15 */
		background: linear-gradient(to right, #C8A589 40%, #D4B79E); /* Standard syntax */
		margin-left: 2vh;
		position: relative;
		overflow: hidden;
	}

	.wpimgcont {
		height: 80vh;
		padding-bottom: 80vh;
		background-size: 235%;
	}

	.techwp {
		margin-top: 0vh;
	}

	.forborder {
	  background: #D4B89B; /* For browsers that do not support gradients */
	  background: -webkit-linear-gradient(-90deg, #C8A589 86%, #D4B79E); /* For Safari 5.1 to 6.0 */
	  background: -o-linear-gradient(-90deg, #C8A589 86%, #D4B79E); /* For Opera 11.1 to 12.0 */
	  background: -moz-linear-gradient(-90deg, #C8A589 86%, #D4B79E); /* For Firefox 3.6 to 15 */
	  background: linear-gradient(-90deg, #C8A589 86%, #D4B79E); /* Standard syntax */
	  padding-bottom: 2vh;
	  padding-top: 2vh;
	  padding-right: 2vh;
	  padding-left: 10vh;

	}

	.hackaboximg {
		display: block;
	}

	.hackaboximgsmall {
		display: none;
	}

	.wpimg {
		display: block;
	}

	.wpsmall {
		display: none;
	}

	.hacktext>p {
		font-size: 1.48vw;
	}

	.wordtext>p {
		font-size: 2.1vh;
	}

	.titlep:after {
		width: 8%;
		right: 4%;

	}

	.titlep:before {
		width: 81%;
		left: -68%;

	}

	.subtitle {
		font-size: 2.4vh;
	}

	.subtitlewp {
		font-size: 2.7vh;
	}

	.demo>p {
		line-height: 500px;
		font-size: 9vh;
	}

	.dropdown {
		left: 5vw;
	}
}

/* Landscape phones and portrait tablets */
@media screen and (min-width: 481px) and (max-width: 767px) {
	.demo {
		width: 100%;
		height: 100%;
	}

	.crumbmine {
		z-index: 2;
		font-size: 2vw;
		text-align: left;
	}

	.closemine {
		color: #fff;
		font-family: 'Avenir';
		font-size: 14px;
		position: absolute;
		top: 1vh;
		right:1vmin;
		cursor: hand; cursor: pointer;
	}

	.hackaboximgcont {
		display: inline;
		overflow: hidden;
		
		padding-bottom: 0vh;
		height: auto;
		background-image: none;
	}

	.hackaboximg {
		display: none;
	}

	.hackaboximgsmall {
		display: block;

	}

	.demo>p {
        transform: none;
	    line-height: 70px;
	    font-size: 8vh;
	    -ms-transform: rotate(-15deg); /* IE 9 */
	    -webkit-transform: rotate(-15deg); /* Safari */
	    transform: rotate(-15deg);
	    margin-top: 2vh;
	}

	.wpimg {
		display: none;
	}

	.wpsmall {
		
	}

	.wpimgcont {
		margin-top: 10vh;
		padding-bottom: 0;
		height: auto;
	}

	.techwp {
		position: relative;
	}

	.expressimg {
	  width: 100%;
	  padding-left: 1vh;
	  padding-right: 1vh;
	  padding-top: 1vh;
	}

	.mongodbimg {
	  width: 100%;
	  padding-left: 1vh;
	  padding-right: 1vh;
	}

	.angularimg {
	  width: 100%;
	  padding-left: 1vh;
	  padding-right: 1vh;
	}

	.mongodbholder {
		z-index: 2;
		position: relative;
	}

	.nodeimg {
	  width: 100%;
	  padding-left: 1vh;
	  padding-right: 1vh;
	  padding-top: 1vh;
	}

	.techholder {
		position: absolute;
		height: 10%;
		top: 94%;
	}

	.forborder {
	  background: #D4B89B; /* For browsers that do not support gradients */
	  background: -webkit-linear-gradient(0deg, #C8A589, #D4B79E); /* For Safari 5.1 to 6.0 */
	  background: -o-linear-gradient(0deg, #C8A589, #D4B79E); /* For Opera 11.1 to 12.0 */
	  background: -moz-linear-gradient(0deg, #C8A589, #D4B79E); /* For Firefox 3.6 to 15 */
	  background: linear-gradient(0deg, #C8A589, #D4B79E); /* Standard syntax */
	  padding-bottom: 2vh;
	  padding-top: 2vh;
	  padding-right: 2vh;
	  padding-left: 2vh;
	  margin-top: 1vh;
	  margin-bottom: 1vh;

	}

	.hacktext {
		display: inline-block;
		height: 44vh;
		padding-left: 2vh;
		padding-right: 2vh;
		padding-top: 2vh;
		margin-top: 0vh;
		background: #D4B89B; /* For browsers that do not support gradients */
		background: -webkit-linear-gradient(180deg, #C8A589, #D4B79E 70%); /* For Safari 5.1 to 6.0 */
		background: -o-linear-gradient(180deg, #C8A589, #D4B79E 70%); /* For Opera 11.1 to 12.0 */
		background: -moz-linear-gradient(180deg, #C8A589, #D4B79E 70%); /* For Firefox 3.6 to 15 */
		background: linear-gradient(180deg, #C8A589, #D4B79E 70%); /* Standard syntax */
		position: relative;
		overflow: hidden;
	}

	.hacktext>p {
		font-size: 1.8vh;
	}

	.wordtext>p {
		font-size: 1.8vh;
	}

	.titlep {
		margin-top: 0vh;
	}

	.titlep:before {
		width: 52%;
		left: -38%;
	}

	.titlep:after {
		width: 52%;
		right: -38%;
	}

	.subtitle {
		font-size: 2vh;
	}

	.wordtext>p {
		font-size: 2vh;
	}

	.titlewp {
		margin-top: 4vh;
		font-size: 5vw;
	}

	.subtitlewp {
		font-size: 2.1vh;
	}

	.fp-controlArrow.fp-prev {
	    left: 18px;
	    width: 0;
	    border-width: 32.2px 32.9px 32.2px 0;
	    border-color: transparent #aaa transparent transparent;
	}

	.fp-controlArrow.fp-next {
	    right: 18px;
	    border-width: 32.9px 0 32.9px 32.2px;
	    border-color: transparent transparent transparent #aaa;
	}

	.appleimg {
		max-width: 35%;
		max-height: 35%;
	}

	.techapple {
		position: relative;
		margin-top: 8vh;
		float: none;
	}

	.pcont {
		margin-top: 2vh;
	}

	.vidcont {
		position: relative;
		overflow: hidden;
		padding-left: 0;
		padding-right: 0;
		height: 20vh;
	    
	    margin-top: 10vh;
	}

	.vidcont>iframe {
		width: 100%;
		height: 100%;
		
	}

	.dropdown {
		right: 35vw;
	}
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
	.menubutton, .dropdownbutton {
		background-color: rgba(96, 18, 24, 0);
		height: 100%;
		line-height: 52px;
		text-align: center;
		font-size: 1.4vh;
	}

	.crumbmine {
		z-index: 2;
		font-size: 2.5vw;
	}

	.closemine {
		color: #fff;
		font-family: 'Avenir';
		font-size: 14px;
		position: absolute;
		top: 1vh;
		right:2.5vmax;
		cursor: hand; cursor: pointer;
	}

	.forborder {
	  background: #D4B89B; /* For browsers that do not support gradients */
	  background: -webkit-linear-gradient(0deg, #C8A589, #D4B79E 60%); /* For Safari 5.1 to 6.0 */
	  background: -o-linear-gradient(0deg, #C8A589, #D4B79E 60%); /* For Opera 11.1 to 12.0 */
	  background: -moz-linear-gradient(0deg, #C8A589, #D4B79E 60%); /* For Firefox 3.6 to 15 */
	  background: linear-gradient(0deg, #C8A589, #D4B79E 60%); /* Standard syntax */
	  padding-bottom: 2vh;
	  padding-top: 2vh;
	  padding-right: 2vh;
	  padding-left: 2vh;
	  margin-top: 1vh;
	}

	.hacktext {
		display: inline-block;
		height: 44vh;
		padding-left: 2vh;
		padding-right: 2vh;
		padding-top: 2vh;
		margin-top: 0vh;
		background: #D4B89B; /* For browsers that do not support gradients */
		background: -webkit-linear-gradient(180deg, #C8A589, #D4B79E 70%); /* For Safari 5.1 to 6.0 */
		background: -o-linear-gradient(180deg, #C8A589, #D4B79E 70%); /* For Opera 11.1 to 12.0 */
		background: -moz-linear-gradient(180deg, #C8A589, #D4B79E 70%); /* For Firefox 3.6 to 15 */
		background: linear-gradient(180deg, #C8A589, #D4B79E 70%); /* Standard syntax */
		position: relative;
		overflow: hidden;
	}

	.titlep {
		margin-top: 0vh;
	}

	.titlep:before {
		width: 52%;
		left: -38%;
	}

	.titlep:after {
		width: 46%;
		right: -32%;
	}

	.demo>p {
	    margin-top: 0;
	    line-height: 60px;
	    font-size: 7vh;
	    -ms-transform: rotate(-15deg); /* IE 9 */
	    -webkit-transform: rotate(-15deg); /* Safari */
	    transform: rotate(-15deg);
	}

	.demo {
		width: 100%;
		height: 100%;
	}

	.pcont {
		margin-top: 2vh;
	}

	.pcont>p {
		font-size: 2.1vh;
	}

	.appleimg {
		max-width: 35%;
		max-height: 35%;
	}

	.techapple {
		position: relative;
		margin-top: 12vh;
		float: none;
	}

	.vidcont {
		position: relative;
		overflow: hidden;
		padding-left: 0;
		padding-right: 0;
		height: 20vh;
	    
	    margin-top: 10vh;
	}

	.vidcont>iframe {
		width: 100%;
		height: 100%;
		
	}

	.hackaboximgcont {
		margin-top: 0vh;
		height: auto;
		padding-bottom: 0vh;
	}

	.hackaboximg {
		display: none;
	}

	.hackaboximgsmall {
		display: block;
	}

	.wpimg {
		display: none;
	}

	.wpimgcont {
		height: auto;
		padding-bottom: 0;
		margin-top: 10vh;
	}

	.wordtext>p {
		font-size: 2vh;
	}

	.titlewp {
		margin-top: 4vh;
		font-size: 6vw;
	}

	.subtitlewp {
		font-size: 2.1vh;
	}

	.wpsmall {
		display: block;
		
	}

	.hacktext {
		margin-top: 2vh;
	}

	.hacktext>p {
		font-size: 1.7vh;
	}

	.titlep {
		margin-top: 0vh;
	}

	.subtitle {
		font-size: 2.7vw;
	}

	.fp-controlArrow.fp-prev {
	    left: 15px;
	    width: 0;
	    border-width: 18.2px 18.9px 18.2px 0;
	    border-color: transparent #aaa transparent transparent;
	}

	.fp-controlArrow.fp-next {
	    right: 15px;
	    border-width: 18.9px 0 18.9px 18.2px;
	    border-color: transparent transparent transparent #aaa;
	}
}