nav {
	background-color: rgba(96, 18, 24, 0.86);
	position: relative;
	height: 5vh;
}

.navbar>.row {
	height: 100%;
}

.menuholder {
	height: 100%;
	position: relative;
}

.logo {
	font-family: 'Satisfy', cursive;
	color: #EBEBEB;
	font-size: 19pt;
	text-align: center;
	vertical-align: middle;
	line-height: 52px;
	display: inline-block;
}

/*.fp-controlArrow.fp-prev {
    border-color: transparent #aaa transparent transparent;
}

.fp-controlArrow.fp-next {
    border-color: transparent transparent transparent #aaa;
}*/

a, a:hover, a:active, a:visited, a:focus {
	text-decoration: none;
}

.menuholder>a, .menuholder>a:hover, .menuholder>a:active, .menuholder>a:visited, .menuholder>a:focus {
	color: white;
}

.menubutton {
	background-color: rgba(96, 18, 24, 0);
	height: 100%;
	line-height: 49px;
	text-align: center;
}

.inlineblock {
	display: inline-block;
}

/*PAGES AND SLIDES*/

#home {
	background-image: url("images/portfolioback.jpg");
	background-size: 100% auto;
	background-repeat: no-repeat; 
    background-position: center;
    background-attachment: fixed;       
    webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
}

#hackabox1 {
	background-color: #D4B89B;
}
#hackabox2 {background-color: #547345}
#hackabox3 {background-color: #554889}

#wordpress1 {background-color: #1AABDB;}
#wordpress2 {background-color: #255553}
#wordpress3 {background-color: #444444}

#app1 {background-color: #ffffff}
#app2 {background-color: #777777}
#app3 {background-color: #999999}

#skills {background-color: #111111}

#contact {background-color: #222222}

.pcont>p>a, .pcont>p>a:hover, .pcont>p>a:active, .pcont>p>a:visited, .pcont>p>a:focus {
	color: #AAAAAA;
}

.vidcont {
	position: relative;
	overflow: hidden;
	padding-left: 0;
	padding-right: 0;
	height: 80vh;
    border-radius: 6px;
}

.vidcont>iframe {
	width: 100%;
	height: 100%;
	border-radius: 6px;
}

.pcont {
	display: inline-block;
	height: 80vh;
	margin-top: 0vh;
}

.pcont>p {
	font-family: 'Nobile', sans-serif;	
	font-size: 14px;
	text-align: justify;
	color: black;
}

.uline {
	border-bottom-style: dotted;
	border-bottom-width: 1px;
	border-bottom-color: #aaaaaa;
	padding-bottom: 2%;
}

.ulinewp {
	border-bottom-style: dotted;
	border-bottom-width: 1px;
	border-bottom-color: #036E91;
	padding-bottom: 2%;
}

.techapple {
	margin-top: 30vh;
}

.applep {
	position: relative;
}

.subtitleap {
	font-family: 'Corben', cursive;
	font-size: 15px;
	color: #aaaaaa;
}

.titleap {
	font-family: 'Corben', cursive;
	font-size: 20px;
	text-align: center;
	color: #aaaaaa;
}

/*HOME*/

.homejumbo {
	height: 80vh;
	margin-top: 65px;
	background-color: rgba(96, 18, 24, 0.51)	
}

/*HACKABOX*/

.hackaboximg {
	width: 92%;	
	height: 100%;
	border-radius: 6px;
}

.demo {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 2;
	background-color: rgba(0, 0, 0, 0.1);
	color: rgb(255, 255, 255);
	font-size: 10vh;
	border-radius: 6px;
	text-align: center;
}

.wpsmall {
	position: relative;
	height: 100%;
	width: 100%;
	text-align: center;
}

.demo>p {
	line-height: 488px;
	-ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Safari */
    transform: rotate(-45deg);
}

.wpimg {
	max-width: 100%;	
	max-height: auto;
	border-radius: 6px;
}

.techwp {
	margin-top:4vh;
}

.hackaboximgsmall {
	max-width: 100%;	
	max-height: auto;
	border-radius: 6px;
	display: none;
}

.hackaboximgcont {
	position: relative;
	overflow: hidden;
	padding-left: 0;
	padding-right: 0;
	height: 80vh;
	padding-bottom: 80vh;
	background-image: url('images/hackaboxfull.png');
	background-size: 124%;
    border-radius: 6px;
}

.wpimgcont {
	position: relative;
	overflow: hidden;
	padding-left: 0;
	padding-right: 0;
	height: 80vh;
	padding-bottom: 80vh;
	background-image: url('images/themeboximg.png');
	background-size: 124%;
    border-radius: 6px;
}

.hacktext {
	display: inline-block;
	height: 80vh;
	margin-top: 0vh;
}

.wordtext {
	display: inline-block;
	height: 80vh;
	margin-top: 0vh;
}

.hacktext>p {
    font-family: 'Nobile', sans-serif;
	font-size: 14px;
	text-align: justify;
	color: white;
}

.wordtext>p {
    font-family: 'Nobile', sans-serif;
	font-size: 2.4vh;
	text-align: justify;
	color: white;
}


.titlep {
    font-family: 'Corben', cursive;
	font-size: 20px;
	text-align: center;
	color: #C75252;
}

.titlewp {
    font-family: 'Corben', cursive;
	font-size: 3vw;
	text-align: center;
	color: #036E91;	
	text-shadow: 0 -1px #6CC8E7, 1px 0 #6CC8E7, 0 1px #6CC8E7, -1px 0 #6CC8E7;
}

.subtitle {
    font-family: 'Corben', cursive;
	font-size: 12px;
	color: #C75252;
}

.subtitlewp {
    font-family: 'Corben', cursive;
	font-size: 1.9vw;
	color: #036E91;
	position: relative;
	text-shadow: 0 -1px #6CC8E7, 1px 0 #6CC8E7, 0 1px #6CC8E7, -1px 0 #6CC8E7;
}

/* Large desktops and laptops */
@media (min-width: 1200px) {
	.hackaboximg {
		display: block;
	}

	.hackaboximgsmall {
		display: none;
	}

	.wpimg {
		display: block;
	}

	.wpsmall {
		display: none;
	}

	.titlep {
		font-size: 5vh;
	}
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
	.hackaboximgcont {
		height: 80vh;
		padding-bottom: 80vh;
		background-size: 130%;
	}

	.hackaboximg {
		width: 100%;	
		height: auto;
		border-radius: 6px;
	}

	.demo {
		position: absolute;
		height: 100%;
		width: 100%;
		z-index: 2;
		background-color: rgba(0, 0, 0, 0.1);
		color: rgb(255, 255, 255);
		font-size: 10vh;
		border-radius: 6px;
		text-align: center;
	}

	.wpimgcont {
		height: 80vh;
		padding-bottom: 80vh;
		background-size: 170%;
	}

	.wordtext {
		margin-top: 0;
	}

	.wordtext>p {
		font-size: 2.5vh;
	}

	.subtitlewp {
		font-size: 2.8vh;
	}

	.hacktext {
		height: 80vh;
	}

	.titlep {
		font-size: 5vh;
	}

	.hackaboximg {
		display: block;
	}

	.hackaboximgsmall {
		display: none;
	}

	.wpimg {
		display: block;
	}

	.wpsmall {
		display: none;
	}

	.demo>p {
		line-height: 488px;
	}

	.techwp {
		margin-top: 7vh;
	}
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	.menubutton {
		font-size: 1.7vh;
	}

	.hackaboximgcont {
		background-size: 235%;
		height:80vh;
		padding-bottom: 80vh;
	}

	.wpimgcont {
		height: 80vh;
		padding-bottom: 80vh;
		background-size: 235%;
	}

	.techwp {
		margin-top: 0vh;
	}

	.hackaboximg {
		display: block;
	}

	.hackaboximgsmall {
		display: none;
	}

	.wpimg {
		display: block;
	}

	.wpsmall {
		display: none;
	}

	.hacktext>p {
		font-size: 1.48vw;
	}

	.wordtext>p {
		font-size: 2.1vh;
	}

	.titlep {
		font-size: 3.2vw;
	}

	.subtitle {
		font-size: 2.4vh;
	}

	.subtitlewp {
		font-size: 2.7vh;
	}

	.demo>p {
		line-height: 500px;
		font-size: 9vh;
	}
}

/* Landscape phones and portrait tablets */
@media screen and (min-width: 481px) and (max-width: 767px) {
	.demo {
		width: 100%;
		height: 100%;
	}

	.hackaboximgcont {
		display: inline;
		overflow: hidden;
		border-radius: 6px;
		margin-top:10vh;
		padding-bottom: 0vh;
		height: auto;
		background-image: none;
	}

	.hackaboximg {
		display: none;
	}

	.hackaboximgsmall {
		display: block;

	}

	.demo>p {
        transform: none;
	    line-height: 70px;
	    font-size: 8vh;
	    -ms-transform: rotate(-15deg); /* IE 9 */
	    -webkit-transform: rotate(-15deg); /* Safari */
	    transform: rotate(-15deg);
	    margin-top: 2vh;
	}

	.wpimg {
		display: none;
	}

	.wpsmall {
		border-radius: 6px;
	}

	.wpimgcont {
		margin-top: 10vh;
		padding-bottom: 0;
		height: auto;
	}

	.techwp {
		position: relative;
	}

	.hacktext {
		display: inline;
	}

	.hacktext>p {
		font-size: 1.8vh;
	}

	.wordtext>p {
		font-size: 1.8vh;
	}

	.titlep {
		font-size: 4vw;
		margin-top: 4vh;
	}

	.subtitle {
		font-size: 2vh;
	}

	.wordtext>p {
		font-size: 2vh;
	}

	.titlewp {
		margin-top: 4vh;
		font-size: 5vw;
	}

	.subtitlewp {
		font-size: 2.1vh;
	}

	.fp-controlArrow.fp-prev {
	    left: 18px;
	    width: 0;
	    border-width: 32.2px 32.9px 32.2px 0;
	    border-color: transparent #aaa transparent transparent;
	}

	.fp-controlArrow.fp-next {
	    right: 18px;
	    border-width: 32.9px 0 32.9px 32.2px;
	    border-color: transparent transparent transparent #aaa;
	}

	.appleimg {
		max-width: 35%;
		max-height: 35%;
	}

	.techapple {
		position: relative;
		margin-top: 8vh;
		float: none;
	}

	.pcont {
		margin-top: 2vh;
	}

	.vidcont {
		position: relative;
		overflow: hidden;
		padding-left: 0;
		padding-right: 0;
		height: 20vh;
	    border-radius: 6px;
	    margin-top: 10vh;
	}

	.vidcont>iframe {
		width: 100%;
		height: 100%;
		border-radius: 6px;
	}
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
	.menubutton {
		background-color: rgba(96, 18, 24, 0);
		height: 100%;
		line-height: 49px;
		text-align: center;
		font-size: 1.4vh;
	}

	.demo>p {
	    margin-top: 0;
	    line-height: 60px;
	    font-size: 7vh;
	    -ms-transform: rotate(-15deg); /* IE 9 */
	    -webkit-transform: rotate(-15deg); /* Safari */
	    transform: rotate(-15deg);
	}

	.demo {
		width: 100%;
		height: 100%;
	}

	.pcont {
		margin-top: 2vh;
	}

	.pcont>p {
		font-size: 2.1vh;
	}

	.appleimg {
		max-width: 35%;
		max-height: 35%;
	}

	.techapple {
		position: relative;
		margin-top: 12vh;
		float: none;
	}

	.vidcont {
		position: relative;
		overflow: hidden;
		padding-left: 0;
		padding-right: 0;
		height: 20vh;
	    border-radius: 6px;
	    margin-top: 10vh;
	}

	.vidcont>iframe {
		width: 100%;
		height: 100%;
		border-radius: 6px;
	}

	.hackaboximgcont {
		margin-top: 10vh;
		height: auto;
		padding-bottom: 0vh;
	}

	.hackaboximg {
		display: none;
	}

	.hackaboximgsmall {
		display: block;
	}

	.wpimg {
		display: none;
	}

	.wpimgcont {
		height: auto;
		padding-bottom: 0;
		margin-top: 10vh;
	}

	.wordtext>p {
		font-size: 2vh;
	}

	.titlewp {
		margin-top: 4vh;
		font-size: 6vw;
	}

	.subtitlewp {
		font-size: 2.1vh;
	}

	.wpsmall {
		display: block;
		border-radius: 6px;
	}

	.hacktext {
		margin-top: 2vh;
	}

	.hacktext>p {
		font-size: 1.7vh;
	}

	.titlep {
		font-size: 5vw;
		margin-top: 0vh;
	}

	.subtitle {
		font-size: 2.7vw;
	}

	.fp-controlArrow.fp-prev {
	    left: 15px;
	    width: 0;
	    border-width: 18.2px 18.9px 18.2px 0;
	    border-color: transparent #aaa transparent transparent;
	}

	.fp-controlArrow.fp-next {
	    right: 15px;
	    border-width: 18.9px 0 18.9px 18.2px;
	    border-color: transparent transparent transparent #aaa;
	}
}